$primary: (
  100 : #cbcbd5,
  200 : #a9a8ba,
  500 : #525174,
  700 : #414061,
  contrast: (
    100 : #000000,
    200 : #000000,
    500 : #ffffff,
    700 : #ffffff,
    )
);
$secondary: (
  100 : #ebecf0,
    200 : #dde0e7,
    500 : #bbc1ce,
    700 : #acb3c2,
    'contrast': (
        100 : #000000,
        200 : #000000,
        500 : #000000,
        700 : #000000,
    )
);

$warn: (
  100 : #e5c7c7,
  200 : #d4a2a2,
  500 : #a94444,
  700 : #983535,
  contrast: (
          100 : #000000,
          200 : #000000,
          500 : #ffffff,
          700 : #ffffff,
  )
);