<div *ngIf="chat" class="container">
  <section class="chat-header">
    <user-picture [image]="chat.destinatary.picture" />
    <span>{{chat.destinatary.name}}</span>
  </section>
  <ul class="messages-box">
    <li>
      <message *ngFor="let message of chat.messages" [message]="message" />
    </li>
  </ul>
  <form class="text-box" (ngSubmit)="sendMessage()">
    <input matInput type="text" placeholder="Send a message" name="text" [(ngModel)]="text" autocomplete="off" />
    <button mat-icon-button>
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>