
.message-container {
  border-radius: 10px;
  width: fit-content;
  max-width: 400px;
  background-color: #659157;  
  padding: 1px 12px;
}

.self {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  div {
    background-color: #A9BCD0;
  }
}