@import '../../styles/_palette';
.message-inner {
  padding: 4px 0;
}

.message-container {
  border-radius: 10px;
  width: fit-content;
  max-width: 400px;
  background-color: map-get($secondary, 700);  
  padding: 1px 12px;
  color: map-get($secondary, "contrast", 700);
}

.self {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  div {
    background-color: map-get($secondary, 200);
    color: map-get($secondary, "contrast", 200);
  }
}