.home-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 10px 0;

  @media screen and (min-width: 468px) {
    padding: 20px 0;
  }
}

.chatList-container {
  width: 400px;
}

.chat-container {
  width: 100%;
}