
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import "./app/styles/palette";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$chatClient-primary: mat.define-palette($primary);
$chatClient-accent: mat.define-palette($secondary);
$chatClient-warn: mat.define-palette($warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chatClient-theme: mat.define-light-theme((
  color: (
    primary: $chatClient-primary,
    accent: $chatClient-accent,
    warn: $chatClient-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chatClient-theme);

* {
  box-sizing: border-box;
}

body, html {
  width: 1240px;
  height: 100%;
  margin: auto;
  padding: 0px;
  background-color: #414061;
  overflow-x: hidden;
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #D8DBE2;
}


input {
  border-radius: 10px;
  border: none;
  padding: 4px;
  height: 40px;
}